<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
<style>
  @import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,
    wght@0,
    100;0,
    200;0,
    300;0,
    400;0,
    500;0,
    600;0,
    700;0,
    800;0,
    900;1,
    100;1,
    200;1,
    300;1,
    400;1,
    500;1,
    600;1,
    700;1,
    800;1,
    900&display=swap);
  * {
    font-family: Montserrat, sans-serif;
    margin: 0;
  }
  div.container {
    padding: 2rem 1rem;
  }
  section {
    margin: 1rem 0;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <section>
        <img src="https://hirebarend.com/templates/images/lydia-mari-erasmus.png" class="img-fluid rounded" />
      </section>
      <section>
        <h6>Lydia-Mari Erasmus</h6>
        <h6 class="text-muted">hirelydia@gmail.com</h6>
        <h6 class="text-muted">+27 76 881 6007</h6>
      </section>
      <section>
        <h6>Date Of Birth</h6>
        <h6 class="text-muted">September 26, 2002</h6>
        <h6>Gender</h6>
        <h6 class="text-muted">Female</h6>
        <h6>Nationality</h6>
        <h6 class="text-muted">South African</h6>
      </section>
      <section>
        <h6>Address</h6>
        <h6 class="text-muted">4 Olive Road</h6>
        <h6 class="text-muted">Table View, Cape Town</h6>
        <h6 class="text-muted">7441</h6>
      </section>
      <section>
        <h6>Languages</h6>
        <h6 class="text-muted">Afrikaans, English</h6>
      </section>
      <section>
        <h6>Notice Period</h6>
        <h6 class="text-muted">None</h6>
      </section>
    </div>
    <div class="col-sm-9">
      <section>
        <h2>Lydia-Mari Erasmus</h2>
        <p>
          A simple definition of servant leadership is when the coach serves the team rather than the team serves the coach. 
          This definition is a clear example of what I bring to a team in the world that we live in today. 
        </p>
        <p>
          Confidence and trust in your team's abilities is something that I believe is a must to be able to implement the 
          Agile Methodology. To find this in a team, transparency and adoption should be visible at all times. A problem 
          can much easier be solved by first listening than reacting to a half-heard problem.
        </p>
      </section>
      <section>
        <h3>01. Experience</h3>
        <p class="font-weight-light">Committed to learn something new everyday.</p>
        <div>
          <h5>Product Manager at Startup 55 (Pty) Ltd</h5>
          <p class="font-weight-light text-muted">July 2020 - Present (1 Year)</p>
        </div>
        <div>
          <h5>Data Capturer at Data Fusion Concepts (Pty) Ltd</h5>
          <p class="font-weight-light text-muted">April 2020 - July 2020 (4 Months)</p>
        </div>
        <div>
          <h5>Receptionist at Dental and Beauty Gateway</h5>
          <p class="font-weight-light text-muted">December 2017 - January 2018 (2 Months)</p>
        </div>
      </section>
      <section>
        <h3>02. Certifications</h3>
        <div>
          <h5>Microsoft Certified: Azure Fundamentals</h5>
          <p class="font-weight-light text-muted">July 2021</p>
        </div>
        <div>
          <h5>Certified SCRUM Master, Scrum Alliance</h5>
          <p class="font-weight-light text-muted">April 2021</p>
        </div>
        <div>
          <h5>Agile Crash Course: Agile Project Management, Agile Delivery</h5>
          <p class="font-weight-light text-muted">January 2021</p>
        </div>
        <div>
          <h5>Agile Fundamentals: Including Scrum and Kanban - 2020</h5>
          <p class="font-weight-light text-muted">January 2021</p>
        </div>
      </section>
      <section>
        <h3>03. Education</h3>
        <div>
          <h5>Jan van Riebeeck High</h5>
          <p class="font-weight-light text-muted">January 2016 - December 2020</p>
        </div>
      </section>
    </div>
  </div>
</div>
