<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
/>
<style>
  @import url(https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap);
  * {
    font-family: Inter, sans-serif;
    margin: 0;
  }
  div.container {
    padding: 2rem 1rem;
  }
  section {
    margin: 1rem 0;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <section>
        <img
          src="https://hirebarend.com/templates/images/barend-erasmus.png"
          class="img-fluid rounded"
        />
      </section>
      <section>
        <h6>Barend Erasmus</h6>
        <h6 class="text-muted">hirebarend@gmail.com</h6>
        <h6 class="text-muted">+27 76 654 2813</h6>
      </section>
      <section>
        <h6>Date of Birth</h6>
        <h6 class="text-muted">May 23, 1996</h6>
        <h6>Gender</h6>
        <h6 class="text-muted">Male</h6>
        <h6>Nationality</h6>
        <h6 class="text-muted">South African</h6>
      </section>
      <section>
        <h6>Address</h6>
        <h6 class="text-muted">Unit 14, Santa Barbara</h6>
        <h6 class="text-muted">63-65 Blaauwberg Road</h6>
        <h6 class="text-muted">Table View, Cape Town</h6>
        <h6 class="text-muted">7439</h6>
      </section>
      <section>
        <h6>Languages</h6>
        <h6 class="text-muted">Afrikaans, English, Spanish</h6>
      </section>
      <section>
        <h6>Notice Period</h6>
        <h6 class="text-muted">1 Calendar Month</h6>
      </section>
    </div>
    <div class="col-sm-9">
      <section>
        <h2>01. Barend Erasmus</h2>
        <p>
          As a highly skilled and experienced Microsoft Azure Solutions Architect with over 9 years of expertise in designing and building highly scalable, reliable, and available systems using Microsoft Azure, I have demonstrated success in driving complex technology projects from conception to implementation. My passion lies in crafting innovative solutions that deliver real business value and empower organizations to achieve their goals.
        </p>
        <p>
          My expertise extends to leading multi-national teams to deliver high-quality results within tight deadlines and budget constraints. I thrive in fast-paced, dynamic environments and leverage my exceptional communication, collaboration, and problem-solving skills to drive cross-functional teams to success.
        </p>
        <p>
          If you're looking for a proven Microsoft Azure Solutions Architect who can deliver results, drive innovation, and lead teams to success, then look no further. Let's connect and explore how I can help you achieve your business goals.
        </p>
      </section>
      <section>
        <h3>02. Experience</h3>
        <p class="font-weight-light">
          Designing and building systems for companies ‧ Certified Microsoft
          Solutions Architect
        </p>
        <div>
          <h5>
            Senior Technical Team Lead at Euromonitor International (Pty) Ltd
          </h5>
          <p class="font-weight-light text-muted">November 2022 - Present</p>
        </div>
        <div>
          <h5>Senior Software Engineer (Lead) at iKhokha (Pty) Ltd</h5>
          <p class="font-weight-light text-muted">
            May 2022 - October 2022 (6 Months)
          </p>
        </div>
        <div>
          <h5>Technical Team Lead at Flash Mobile Vending (Pty) Ltd</h5>
          <p class="font-weight-light text-muted">
            August 2021 - April 2022 (9 Months)
          </p>
        </div>
        <div>
          <h5>Senior Software Engineer at Media24 (Pty) Ltd</h5>
          <p class="font-weight-light text-muted">
            April 2020 - July 2021 (1 Year, 4 Months)
          </p>
          <p>
            Spent my time as a senior software engineer rearchitecting backend
            services, migrating them to the cloud, and working on the audio
            generation for articles. I've also lead a team on the Landbou and
            Netwerk24 re-platforming project.
          </p>
        </div>
        <div>
          <h5>Technical Lead at Euromonitor International (Pty) Ltd</h5>
          <p class="font-weight-light text-muted">
            April 2019 - March 2020 (1 Year)
          </p>
          <p>
            Spent my time as a technical lead maintaining and rearchitecting
            certain aspects of the E-commerce and CMS project with a team of
            software engineers.
          </p>
        </div>
        <div>
          <h5>
            Senior Software Engineer at Euromonitor International (Pty) Ltd
          </h5>
          <p class="font-weight-light text-muted">
            September 2018 - March 2019 (7 Months)
          </p>
          <p>
            Spent my time as a senior software engineer building microservices
            in .NET CORE and user interfaces in Angular with CosmosDB, MS SQL
            Server, and Apache Jena Fuseki. During this time I also assisted
            with the training and onboarding of software engineers.
          </p>
        </div>
        <div>
          <h5>Software Engineer at Euromonitor International (Pty) Ltd</h5>
          <p class="font-weight-light text-muted">
            March 2016 – August 2018 (2 Years, 6 Months)
          </p>
          <p>
            Spent my time as a software engineer maintaining the flagship
            product called Passport, assisting in re-architecting the core
            caching implementation and migrating web applications to Microsoft
            Azure.
          </p>
        </div>
        <div>
          <h5>Full-Stack Software Engineer at Return True (Pty) Ltd</h5>
          <p class="font-weight-light text-muted">
            December 2014 – February 2016 (1 Year, 3 Months)
          </p>
          <p class="font-weight-light">
            After a month as an intern at Return True, I joined as a full-stack
            software engineer. My primary project consisted of MVC 4, Web API
            backend, and an HTML/CSS/JQuery frontend with an MS SQL database. My
            secondary projects consisted of Android (Java) and C# projects.
          </p>
        </div>
        <div>
          <h5>Intern Software Engineer at Return True (Pty) Ltd</h5>
          <p class="font-weight-light text-muted">
            September 2014 – October 2014 (1 Month)
          </p>
          <p class="font-weight-light">
            I joined Return True for a month as an intern software engineer and
            worked alongside their intermediate and senior software engineers on
            mobile apps written in Java (Android) and backend applications
            written in C# (.NET Framework).
          </p>
        </div>
      </section>
    </div>
  </div>
</div>

<div style="page-break-after: always"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
      <section>
        <h3>03. Certifications</h3>
        <div>
          <h5>Microsoft Certified: Azure Data Engineer Associate</h5>
          <p class="font-weight-light text-muted">Dec 2022</p>
          <p class="font-weight-light">
            Responsibilities for this role include helping stakeholders
            understand the data through exploration, building and maintaining
            secure and compliant data processing pipelines by using different
            tools and techniques. This professional uses various Azure data
            services and languages to store and produce cleansed and enhanced
            datasets for analysis.
          </p>
        </div>
        <div>
          <h5>Microsoft Certified: DevOps Engineer Expert</h5>
          <p class="font-weight-light text-muted">July 2021</p>
          <p class="font-weight-light">
            Responsibilities for this role include designing and implementing
            strategies for collaboration, code, infrastructure, source control,
            security, compliance, continuous integration, testing, delivery,
            monitoring, and feedback.
          </p>
        </div>
        <div>
          <h5>Microsoft Certified: Azure Solutions Architect Expert</h5>
          <p class="font-weight-light text-muted">June 2021</p>
          <p class="font-weight-light">
            Responsibilities for this role include advising stakeholders and
            translating business requirements into designs for secure, scalable,
            and reliable Azure solutions.
          </p>
        </div>
        <div>
          <h5>Microsoft Certified: Azure Administrator Associate</h5>
          <p class="font-weight-light text-muted">May 2021</p>
          <p class="font-weight-light">
            Responsibilities for this role include implementing, managing, and
            monitoring identity, governance, storage, compute, and virtual
            networks in a cloud environment, plus provision, size, monitor, and
            adjust resources, when needed.
          </p>
        </div>
        <div>
          <h5>Microsoft Certified: Azure Developer Associate</h5>
          <p class="font-weight-light text-muted">May 2021</p>
          <p class="font-weight-light">
            Responsibilities for this role include participating in all phases
            of cloud development from requirements, definition, and design; to
            development, deployment, and maintenance; to performance tuning and
            monitoring.
          </p>
        </div>
        <div>
          <h5>Microsoft Certified: Azure Fundamentals</h5>
          <p class="font-weight-light text-muted">April 2021</p>
          <p class="font-weight-light">
            Azure Fundamentals certification is an opportunity to prove
            knowledge of cloud concepts, Azure services, Azure workloads,
            security and privacy in Azure, as well as Azure pricing and support.
            Candidates should be familiar with the general technology concepts,
            including concepts of networking, storage, compute, application
            support, and application development.
          </p>
        </div>
      </section>
      <!-- <section>
        <h3>04. Projects</h3>
        <div>
          <h5>Nano Files</h5>
          <p class="font-weight-light text-muted">https://nanofiles.io</p>
        </div>
        <div>
          <h5>File Monkey</h5>
          <p class="font-weight-light text-muted">https://filemonkey.io</p>
        </div>
      </section> -->
      <section>
        <h3>05. Education</h3>
        <div>
          <h5>University of South Africa (Bachelor of Science in Computing)</h5>
          <p class="font-weight-light text-muted">
            January 2023 - Present
          </p>
        </div>
        <div>
          <h5>Jan van Riebeeck High</h5>
          <p class="font-weight-light text-muted">
            January 2010 - December 2014
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
